<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= title %> </title>
</head>
<body>
    <h1><%= title %></h1>

    <hr>

    <form method="post" action="/users">
        <label for="name">Name</label>
        <input type="text" name="name" id="">
        <label for="email">Email</label>
        <input type="text" name="email" id="">
        <input type="submit" value="Add">
    </form>

    <hr>

    <ul>
        <% users.forEach(user => { %>
            <li>ID: <%= user.id %> Name: <%= user.name %> Email: <%= user.email %></li>
        <% }) %>
    </ul>

    
    
</body>
</html> 